body {
  background-color: #CCDFFE !important;
  margin: 0;
  font-size: 100%; /* This sets default size of element to equal 1em. DO NOT CHANGE! DO NOT SET THE SIZE OF ELEMENTS IN PIXELS! */
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.header li a {
    display: block;
    color: #000;
    padding: 1em 0em 1em 2em;
    text-decoration: none;
}
.nav li a.active {
    background-color: #4CAF50;
    color: white;
}
.nav li a:hover:not(.active) {
    color: red;
}
.header{
  display: right;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;
}
#MissionStatement{
  font-size: 8;
}

.nav {
	border-bottom: 0.1em solid black;
	border-bottom-color: black;
	background-color: #0000ff;
}

.nav li{
	display: inline;
}

.nav a{
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.9em;
  padding-right: 0.9em;
  margin-bottom: 1.4em;
  text-transform: uppercase;
}
