/* Styles go here */
body {
  background-color: #CCDFFE;
  margin: 0;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.header li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
.nav li a.active {
    background-color: #4CAF50;
    color: white;
}
.nav li a:hover:not(.active) {
    color: white;
}
.header{
  display: right;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;
}
#MissionStatement{
  font-size: 8;
}

.nav {
	border-bottom: 5px;
	border-bottom-color: black;
	background-color: #CCDFFE;	
}

.nav li{
	display: inline;
}

.nav a{
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
