/* Styles go here */
body{
  background-color: #66A3FF;
  margin: 0;
}
header{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.header li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
.header li a.active {
    background-color: #4CAF50;
    color: white;
}
.header li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.header{
  display: right;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;
}
#MissionStatement{
  font-size: 8;
}
